.tableCellComp{
    display:table-cell;
    width: 100px;
    height: 100px;
    border:1px solid black;
    font-size: 75px;
    vertical-align: middle;
    background-color: #ffffff;
}

.Cross:before{
    content:'X';
    pointer-events: none;
}

.Zero:before{
    content:'O';
    pointer-events: none;
}

.winnerBlock{
    background-color: yellow;
}
